body{
    color: white;
    font-family: Arial, sans-serif;
    background-color: black;
    font-size: 25px;
}
#btn{
 color: white;
 font-size: 12px;
 padding: 14px 20px;
 background-color: rgb(144, 44, 234);
}